[submodule "week1_baseball"]
	path = week1_baseball
	url = https://github.com/BangDori/javascript-baseball-6
	branch = BangDori
[submodule "week2_racingcar"]
	path = week2_racingcar
	url = https://github.com/BangDori/javascript-racingcar-6
	branch = BangDori
