[submodule "week1_baseball"]
	path = week1_baseball
	url = https://github.com/BangDori/javascript-baseball-6
	branch = BangDori
[submodule "week2_racingcar"]
	path = week2_racingcar
	url = https://github.com/BangDori/javascript-racingcar-6
	branch = BangDori
[submodule "week3_lotto"]
	path = week3_lotto
	url = https://github.com/BangDori/javascript-lotto-6
	branch = BangDori
[submodule "week4_christmas_promotion"]
	path = week4_christmas_promotion
	url = https://github.com/BangDori/javascript-christmas-6-BangDori
